.dummyContent {
    flex-basis: 100%;
    min-width: 300px;
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.dummyContent h2 {
    text-align: center;
}

.dummyContent p {
    text-align: left;
}